<input type="hidden" id="petition_id" value="<%= @petition.id %>" />
<div class="container-fluid">
  <div class="row-fluid"  style="text-align:center;">
    <%= image_tag "header_images/header_petition_01.png", :id => "header-image", :class => "drop-shadow lifted" %>
  </div>
  <div class="row-fluid" style="text-align: center;">
    <% if(@petition.target) %>
    <h2 class="target-name"><%= @petition.target.title %> <%= @petition.target.last_name %>:</h2>
    <% end %>
  </div>
  <div class="row-fluid" style="text-align: center; width:">
    <h1 class="title"><%= @petition.title %></h1>
  </div>
  <div class="row-fluid" style="text-align: center;">
    <p class="description"><%= @petition.summary %></p>
  </div>
</div>
<div id="target-count-wrapper" class="container-fluid " style="margin: 80px auto;">
  <div class="row-fluid" style="text-align: center;">
    <div id="target-count-progress-wrapper" class="span11 solid-white-back drop-shadow-full">
      <div class="progress progress-striped progress-green">
        <div class="bar orange-bar" style="width: <%= (@petition.signatures_count+10*100)/@petition.target_count %>%;">
        </div>
        <span class="mark"></span>
      </div>
    </div>
    <div id="petition-target-count-goal" class="span1 target-count-goal">
      <%= @petition.target_count %>
    </div>
  </div>
  <div class="row-fluid">
   <div class="span6 action-count" style="text-align: left; padding-left: 22px;">
    Signers: <span id="signature_count"><%=  @petition.signatures_count %></span>
  </div>
  <div class="span6 action-count" style="text-align: right; padding-right: 44px;">
    Goal: <%= @petition.target_count %>
  </div>
</div>
</div>
<div id="action-wrapper" style="position: relative;">
<div id="sign-petition-signature" style="position: absolute;">
<div id="signature-container">
  <div id="sign-why" class="drop-shadow-full solid-white-back" style="text-align: left">
    <textarea id="comment" maxlength="115" style="width: 90%;" placeholder="Tell us why you're signing.."></textarea>
  </div>
  <button id="sign-petition-facebook-button" class="action-button icon sign-with-fb-button"  href="<%= user_omniauth_authorize_path(:facebook) %>">
    <span>Sign with Facebook</span>
  </button>
</div>
<div class="row-fluid">
  <span class="span12 copy-or text-center">
    -OR-
  </span>
</div>
<div id="sign-petition">
  <div class="row-fluid">
    <div class="span6">
     <div class="controls">
      <input type="text" id="firstName" name="FirstName" placeholder="First Name" class="register-textfield span12" />
    </div>
  </div>
  <div class="span6">
    <div class="controls">
      <input type="text" id="lastName" name="LastName" placeholder="Last Name" class="register-textfield span12" />
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
    <div class="controls">
      <input type="text" id="emailAddress" name="EmailAddress" placeholder="Email Address" class="register-textfield span12" />
    </div>
  </div>
  <div class="span6">
    <div class="controls">
      <input type="text" id="zipCode" name="ZipCode" placeholder="Zip Code" class="register-textfield span12"  />
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
   <label class="checkbox">
    <input type="checkbox" checked id="chkEmailSignUp" /> <span style="color: #768286;">Let me know about activists and events in my area.</span>
  </label>
</div>
<div class="span6 text-right">
  <button id="sign-petition-user-name" class="button orange" style="width: 100%">Add My Name</button>
</div>
</div>
</div>
</div>
<div id="sign-petition-deliver" style="display: none; position: absolute;">
  <h4 class="text-center">Thanks for Signing</h4>
  <h5 class="text-center">Now deliver your signature publicly on social media so your target can't hide!</h5>
  <div id="share-comment" class="drop-shadow-full solid-white-back" style="text-align: left;">
    <textarea id="comment" maxlength="115" style="width: 90%;" placeholder="<%= @petition.signatures_count %> demand @<%=@petition.target.twitter_handle %>: <%= @petition.title %>.  Join us: <%= @petition.short_url %>"></textarea>
  </div>
  <button id="deliver-signature" class="action-button icon"  href="<%= user_omniauth_authorize_path(:twitter) %>">
    <span>Deliver Signature</span>
  </button>
</div>
<div id="other-campaigns-container" style="display:none; position: absolute;">
  <h4 class="text-center">Act on More Campaigns</h3>
  <h5 class="text-center">These campaigns are happening near you and need your support</h5>

</div>
</div>

<div id="sign-petition-deliver-old" style="display:none;">
  <div class="body">
    <div class="container">
      <p>Thanks for Signing!</p>
      <p>Now deliver your signature publicly on social media so your targt can't hide!
        <textarea id="share-comment" rows="3" name="share-comment" style="width:98%">4 demand @BarackObama: Stop the Drone Assassinations of American Citizens.  Join us: bit.ly/12345 #tlot
        </textarea>
        <button id="deliver-signature" class="btn btn-primary btn-block btn-large" href="<%= user_omniauth_authorize_path(:twitter) %>">Deliver Signature
        </button>
      </div>
    </div>
    <div id="sign-petition-thanks" style="display:none;">
      <h4 class="text-center">Great!</h4>
      <p class="text-center">Here is some more action we want you to take</p>
    </div>

  </div>
  <div id="comments">
    <% if @petition.signatures.count > 0 %>
    <% @petition.signatures.each do |signature| %>
    <div class="container-fluid comment-wrapper">
      <div class="media comment-container solid-white-back drop-shadow-full clear-fix">
       <a class="pull-left" href="#">
        <% if signature.user.avatar_url %>
        <img class="media-object avatar" src="<%= signature.user.avatar_url %>?type=large" />
        <% else %>
        <%= image_tag "avatar.png", :class=> "media-object avatar" %>
        <% end %>
      </a>
      <div class="media-body">
        <span class="comment-username"><%= signature.user.first_name %> <%= signature.user.last_name %></span><span class="comment-timeago">signed  <script language="javascript"> 
        document.write(moment.unix("<%= signature.created_at.to_f() %>").fromNow());
      </script> ago in Seattle, WA</span>
      <span class="comment"><%= signature.comment %></span>
    </div>
  </div>
  <div class="delivery-status row-fluid text-right">
    <% if(signature.delivered) %>
    <%= image_tag "twitter-bird-delivery-status.png" %> <span class="delivery-status-text">STATUS: DELIVERED<span> <%= image_tag "checkbox-checked-delivery-status.png", :class => "delivery-status-checkbox" %>
    <% else %>
        <%= image_tag "twitter-bird-delivery-status.png" %> <span class="delivery-status-text">STATUS: PENDING<span> <%= image_tag "checkbox-delivery-status.png", :class => "delivery-status-checkbox" %>
      <% end %>
  </div>
</div>

<% end %>
<% end %>
</div>
<div id="see-more-container">
  <div class="row-fluid">
    <button id="see-more-button" class="button green" style="width: 100%"><span>See More Signers<span></button>
  </div>
</div>
<div id="powered-by-wrapper" class="container-fluid">
  <div id="powered-by-container" class="row-fluid text-right">
    <%= image_tag "powered_by.png" %>
  </div>
  <div>
  </div>

