<div class="container">
  <input type="hidden" id="petition_id" value="<%= @petition.id %>" />
  <%= image_tag "default_petition.png" %>
  <% if(@petition.target) %>
  <h1><%= @petition.target.title %> <%= @petition.target.last_name %>:</h1>
  <% end %>
  <h2><%= @petition.title %></h2>
  <p class="well"><%= @petition.summary %></p>
  <div class="bar">
  </div>
  <div id="target-count-wrapper" class="clearfix">
    <div class="progress">
     <div class="bar" style="width: <%= (@petition.signatures_count*100)/@petition.target_count %>%;"></div>
   </div>
   <div class="pull-left">
    Signers: <%=  @petition.signatures_count %>
  </div>
  <div class="pull-right">
    Goal: <%= @petition.target_count %>
  </div>
</div>
<div id="signature-container">
  <div id="sign-petition">
    <textarea id="comment" rows="6" name="comments" style="width: 98%" placeholder="Tell people why your signing..."></textarea>
<button id="sign-petition-facebook-button" class="btn btn-large btn-block btn-primary" href="<%= user_omniauth_authorize_path(:facebook) %>">Sign with Facebook</button>
    <button id="sign-petition-user-name" class="btn btn-primary btn-block btn-large">Sign  with UserName/Password</button>
    <h3>These people have already signed</h3>
    <ul class="media-list">
    <% @petition.signatures.each do |signature| %>
    <li class="media">
      <div class="media-body">
        <%= signature.user.first_name %> signed 2 days ago
        <div class="well">
        <%= signature.comment %>
      </div>
      </div>
    </li>
    <% end %>
    </ul>
  </div>
</div>

<div id="sign-petition-thanks"  class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">
    <div class="container">
    <p>Thanks for Signing!</p>
    <p>Now deliver your signature publicly on social media so your targt can't hide!
    </div>
      <textarea id="share-comment" rows="3" name="share-comment" style="width:98%">4 demand @BarackObama: Stop the Drone Assassinations of American Citizens.  Join us: bit.ly/12345 #tlot
      </textarea>
      <button id="share-petition" class="btn btn-primary btn-block btn-large">Deliver Signature
      </button>
    </div>
  </div>

</div>
