%div
	%ng-view

= angular_templates '/clients/campaigns'
= angular_templates '/clients/campaigns/partials'
= angular_templates '/clients/campaigns/partials/includes'
= angular_templates '/clients/partials'
= angular_templates '/clients/partials/pages'

%div{"loading-screen" => "loading.show_spinner"}
