
	<div class="hero-wrapper">
		<div class="container">
			<div class="hero-unit">
				<h2>Landing Page to Show The Power of Your Web App</h2>
				<p class="lead">
					 This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
				</p>
				<p class="cta-actions">
					<a class="btn btn-success btn-large">Sign up for Free</a>&nbsp;<a class="btn btn-primary btn-large">Take The Tour</a>
				</p>
			</div>
			<!--/.hero-unit -->
			<div class="hero-media">
				<%= image_tag "mac.png" %>
			</div>
			<!--/.hero-media -->
		</div>
		<!--/.container -->
	</div>
	<!--/.hero-wrapper -->
	<div class="container">
		<div class="row features">
			<div class="headline headline-simple span12">
				<h3>Explore Our Top Features</h3>
			</div>
			<!--/.headline -->
			<div class="span3">
				<div class="icon">
					<i class="icon-bell-alt"></i>
				</div>
				<h2>Simple & Clean</h2>
				<p>
					 Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus.
				</p>
			</div>
			<!--/.span3 -->
			<div class="span3">
				<div class="icon">
					<i class="icon-tablet"></i>
				</div>
				<h2>Responsive</h2>
				<p>
					 Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus.
				</p>
			</div>
			<!--/.span3 -->
			<div class="span3">
				<div class="icon">
					<i class="icon-beaker"></i>
				</div>
				<h2>A/B Tested</h2>
				<p>
					 Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus.
				</p>
			</div>
			<!--/.span3 -->
			<div class="span3">
				<div class="icon">
					<i class="icon-trophy"></i>
				</div>
				<h2>High Conversion rate</h2>
				<p>
					 Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus.
				</p>
			</div>
			<!--/.span3 -->
		</div>
		<!-- /.features -->
		<div class="row clients">
			<div class="headline headline-simple span12">
				<h3>Our Happy Clients</h3>
			</div>
			<!--/.headline -->
			<div class="span2">
				<%= image_tag "clients/01.png" %>
			</div>
			<!-- /.span2 -->
			<div class="span2">
				<%= image_tag "clients/02.png" %>
			</div>
			<!-- /.span2 -->
			<div class="span2">
				<%= image_tag "client/03.png" %>
			</div>
			<!-- /.span2 -->
			<div class="span2">
				<%= image_tag "clients/04.png" %>
			</div>
			<!-- /.span2 -->
			<div class="span2">
				<%= image_tag "clients/05.png" %>
			</div>
			<!-- /.span2 -->
			<div class="span2">
				<%= image_tag "clients/06.png" %>
			</div>
			<!-- /.span2 -->
		</div>
		<!-- /.clients -->
		<div class="testimonials">
			<div class="container">
				<div class="flexslider">
					<ul class="slides">
						<li>
						<blockquote>
							<p>
								 "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim"
							</p>
							<small>Jon Doe</small>
						</blockquote>
						</li>
						<li>
						<blockquote>
							<p>
								 "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim"
							</p>
							<small>Jon Doe</small>
						</blockquote>
						</li>
						<li>
						<blockquote>
							<p>
								 "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim"
							</p>
							<small>Jon Doe</small>
						</blockquote>
						</li>
						<li>
						<blockquote>
							<p>
								 "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim"
							</p>
							<small>Jon Doe</small>
						</blockquote>
						</li>
					</ul>
					<!--/.slides -->
				</div>
				<!--/.flexslider -->
			</div>
			<!--/.container -->
		</div>
		<!-- /.testimonials -->
		<div class="row call-to-action">
			<div class="span9">
				<h4>Landing Page to Show The Power of Your Web App</h4>
				<p>
					 Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.
				</p>
			</div>
			<!--/.span9 -->
			<div class="span3">
				<a class="btn btn-success btn-large btn-block">Sign up for Free</a>
			</div>
			<!--/.span3 -->
		</div>
		<!-- /.call-to-action -->
	</div>
	<!-- /container -->
	<div id="push">
	</div>
<!--/#wrap -->

