
<div class="hero-wrapper">
	<div class="container">
		<div class="hero-unit">
			<h2>Snap In Speak Out</h2>
			<p class="lead">
				We're building a new kind of online activism platform, designed exclusively for the grassroots. The best part? You can use our free tools anywhere - but you can't get them anywhere else!
			</p>
			<p id="action-buttons" class="cta-actions">
				<a id="start-petition" class="btn btn-primary btn-large">Start a Petition</a>&nbsp;
				<a class="btn btn-primary btn-large">Start an Event</a>&nbsp;
				<a class="btn btn-primary btn-large">Start a Phone Campaign</a>&nbsp;
				<a class="btn btn-primary btn-large">Start a Poll</a>&nbsp;
				<a class="btn btn-primary btn-large">Start a Bundle</a>&nbsp;
			</p>
		</div>
		<!--/.hero-unit -->
		<div class="hero-media">
			<%= image_tag "mac.png" %>
		</div>
		<!--/.hero-media -->
	</div>
	<!--/.container -->
</div>
<!--/.hero-wrapper -->
<div class="container">
	<div class="row features">
		<div class="headline headline-simple span12">
			<h3>Explore Our Top Features</h3>
		</div>
		<!--/.headline -->
		<div class="span3">
			<div class="icon">
				<i class="icon-bell-alt"></i>
			</div>
			<h2>Simple & Clean</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus.
			</p>
		</div>
		<!--/.span3 -->
		<div class="span3">
			<div class="icon">
				<i class="icon-tablet"></i>
			</div>
			<h2>Responsive</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus.
			</p>
		</div>
		<!--/.span3 -->
		<div class="span3">
			<div class="icon">
				<i class="icon-beaker"></i>
			</div>
			<h2>A/B Tested</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus.
			</p>
		</div>
		<!--/.span3 -->
		<div class="span3">
			<div class="icon">
				<i class="icon-trophy"></i>
			</div>
			<h2>High Conversion rate</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus.
			</p>
		</div>
		<!--/.span3 -->
	</div>
	<!-- /.features -->
	<div class="row clients">
		<div class="headline headline-simple span12">
			<h3>Our Happy Clients</h3>
		</div>
		<!--/.headline -->
		<div class="span2">
			<%= image_tag "clients/01.png" %>
		</div>
		<!-- /.span2 -->
		<div class="span2">
			<%= image_tag "clients/02.png" %>
		</div>
		<!-- /.span2 -->
		<div class="span2">
			<%= image_tag "clients/03.png" %>
		</div>
		<!-- /.span2 -->
		<div class="span2">
			<%= image_tag "clients/04.png" %>
		</div>
		<!-- /.span2 -->
		<div class="span2">
			<%= image_tag "clients/05.png" %>
		</div>
		<!-- /.span2 -->
		<div class="span2">
			<%= image_tag "clients/06.png" %>
		</div>
		<!-- /.span2 -->
	</div>
	<!-- /.clients -->
	<div class="testimonials">
		<div class="container">
			<div class="flexslider">
				<ul class="slides">
					<li>
						<blockquote>
							<p>
								"Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim"
							</p>
							<small>Jon Doe</small>
						</blockquote>
					</li>
					<li>
						<blockquote>
							<p>
								"Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim"
							</p>
							<small>Jon Doe</small>
						</blockquote>
					</li>
					<li>
						<blockquote>
							<p>
								"Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim"
							</p>
							<small>Jon Doe</small>
						</blockquote>
					</li>
					<li>
						<blockquote>
							<p>
								"Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim"
							</p>
							<small>Jon Doe</small>
						</blockquote>
					</li>
				</ul>
				<!--/.slides -->
			</div>
			<!--/.flexslider -->
		</div>
		<!--/.container -->
	</div>
	<!-- /.testimonials -->
	<div class="row call-to-action">
		<div class="span9">
			<h4>Landing Page to Show The Power of Your Web App</h4>
			<p>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.
			</p>
		</div>
		<!--/.span9 -->
		<div class="span3">
			<a class="btn btn-success btn-large btn-block">Sign up for Free</a>
		</div>
		<!--/.span3 -->
	</div>
	<!-- /.call-to-action -->
</div>
<!-- /container -->
<div id="push">
</div>
<!--/#wrap -->
<div id="start-petition-panel" style="border: solid 1px orange; position: absolute;left: 150%; width: 60%; z-index: 100; background:#fff; padding: 20px;">
	<%= form_tag("/api/petitions", :method => "post", :id => "create-petition-form") do %>
		<fieldset>
			<legend>Who is the target of your petition?</legend>

			<div class="control-group">
				<div class="controls" style="margin-left: 0px;">
					<label class="radio">
						<input type="radio" name="targetOption" id="targetOption1" value="state">My Governor or State Legislator
					</label>
					<label class="radio">
						<input type="radio" name="targetOption" id="targetOption2" value="federal">Congress or the Executive Branch
					</label>
					<label class="radio">
						<input type="radio" name="targetOption" id="targetOption3" value="other">Someone else
					</label>
				</div>
			</div>
		</fieldset>
		<fieldset>
			<legend>What do you want them to do?</legend>

			<div class="control-group">
				<div class="controls" style="margin-left: 0px;">
					<input id="title" name="title" type="text" placeholder="Type your demand here" style="width: 98%">
					<span class="help-block">Example: Stop the drone assassinations of American citizens.</span>
				</div>
			</div>
		</fieldset>
		<fieldset>
			<legend>Petition Text</legend>

			<div class="control-group">
				<div class="controls" style="margin-left: 0px;">
					<textarea id="summary" name="summary" rows="6" style="width: 98%"></textarea>
				</div>
			</div>
		</fieldset>
		<button id="create-petition" class="btn btn-large btn-block btn-primary" type="submit">Create Petition</button>
	<% end %>
</div>
<div id="launch-petition-panel" style="border: solid 1px orange; position: absolute;left: 150%; width: 60%; z-index: 100; background:#fff; padding: 20px;">
	<h2>President Obama: <span id="title-edit"></span></h2>
	<div class="control-group">
				<div class="controls" style="margin-left: 0px;">
					<textarea id="summary-edit" rows="4" style="width: 98%">
					</textarea>
				</div>
				<div class="pull-right">
					Edit
				</div>
			</div>
	<form class="form-horizontal" style="position: relative;">
		<fieldset>
			<legend>How many signatures do you need?</legend>
			
			<div class="control-group">
				<div class="controls" style="margin-left: 0px;">
					<label class="radio">
						<input type="radio" name="targetOption" id="targetOption1" value="100">100
					</label>
					<label class="radio">
						<input type="radio" name="targetOption" id="targetOption2" value="1000">1,000
					</label>
					<label class="radio">
						<input type="radio" name="targetOption" id="targetOption3" value="10000">10,000
					</label>
				</div>
			</div>
		</fieldset>
		<fieldset>
			<legend>Leave a brief comment about why you're signing this petition</legend>
			
			<div class="control-group">
				<div class="controls" style="margin-left: 0px;">
					<textarea rows="6" style="width: 98%" placeholder="I just told @BarackObama: Stop the Drone Assassinations of American Citizens"></textarea>
				</div>
			</div>
		</fieldset>
		<button id="launch-petition" class="btn btn-large btn-block btn-primary" type="button">Launch Petition</button>
	</form>
</div>
<div id="share-petition-panel" style="border: solid 1px orange; position: absolute;left: 150%; width: 60%; z-index: 100; background:#fff; padding: 20px;">
	<h2>President Obama: Stop the Drone Assassinations of American Citizens</h2>
	<p class="lead">As if it was actually necessary to elaborate on why the lack of due process and summary-execution-by-remote-control-robot is a bad thing for our health and rule of law.
    <p>
	<form class="form-horizontal" style="position: relative;">
		<fieldset>
			<legend>Share with Your Network</legend>
			<div class="control-group">
				<div class="controls" style="margin-left: 0px;">
					<textarea rows="3" style="width: 98%">I just told @BarackObama: Stop the Drone Assassinations of American Citizens</textarea>
				</div>
			</div>

		</fieldset>

		<button id="share-petition" class="btn btn-large btn-block btn-primary" type="button">Share Petition</button>
	</form>
</div>

