
<script id="target-template" type="text/x-handlebars-template">
{{#each result}}
  <div class="controls" style="margin-left: 0px;">
		<label class="radio">
			<input type="radio" name="target" class="target" id="target1" value="{{target_id}}">{{title}} - {{first_name}} {{last_name}}
		</label>
  </div>
  {{/each}}
</script>
<script id="select-target-template" type="text/x-handlebars-template">
<div class="control-group">
			<div class="controls" style="margin-left: 0px;">
				<label class="radio">
					<input type="radio" name="targetOption" id="target-group-the-white-house" data-target-group="1" value="state" class="target-group">The White House
				</label>
				<div id="target-group-the-white-house-items" class="control-group" style="margin-left: 20px; display: none;">
					
				</div>
				<label class="radio">
					<input type="radio" name="targetOption" id="target-group-congress" value="federal" class="target-group">Congress
				</label>
				<div id="target-group-congress-items" class="control-group" style="margin-left: 20px; display: none;">
					<div class="controls" style="margin-left: 0px;">
						<label class="radio">
							<input type="radio" name="target" id="target1" value="state">The entire U.S. House
						</label>
					</div>
					<div class="controls" style="margin-left: 0px;">
						<label class="radio">
							<input type="radio" name="target" id="target1" value="state">The entire U.S. Senate
						</label>
					</div>
					<div class="controls" style="margin-left: 0px;">
						<label class="radio">
							<input type="radio" id="target-group-congress-state-select" class="state-select" name="target" id="target1" value="state">A Specific Legislator
						</label>
					</div>
					<div id="target-group-congress-state-select-items" class="control-group" style="margin-left: 20px; display:none;">
						<div class="controls" style="margin-left: 0px;">
							<label>Choose a State:</label>
							<select class="target-group-state-select" id="target-group-congress-select-state">
								<option>-- Select a State --</option>
								<option>AL</option>
								<option>VA</option>
							</select>
						</div>
						<div class="control-group" id="target-group-congress-select-state-items" style="margin-left: 20px; display: none;">
							<div class="controls" style="margin-left: 0px;">
								<label class="radio">
									<input type="radio" name="target" id="target1" value="state">US Senator 1
								</label>
							</div>	
							<div class="controls" style="margin-left: 0px;">
								<label class="radio">
									<input type="radio" name="target" id="target1" value="state">US Senator 2
								</label>
							</div>	
							<div class="controls" style="margin-left: 0px;">
								<label class="radio">
									<input type="radio" name="target" id="target1" value="state">US Representative from District 1
								</label>
							</div>	
<div class="controls" style="margin-left: 0px;">
								<label class="radio">
									<input type="radio" name="target" id="target1" value="state">US Representative from District 2
								</label>
							</div>	
							<div class="controls" style="margin-left: 0px;">
								<label class="radio">
									<input type="radio" name="target" id="target1" value="state">US Representative from District 3
								</label>
							</div>	
					</div>

				</div>
			</div>
			<label class="radio">
				<input type="radio" name="targetOption" class="target-group" id="target-group-state" value="state">Your State Government
			</label>
			<div id="target-group-state-items" class="control-group" style="margin-left: 20px; display: none;">
				<div class="controls" style="margin-left: 0px;">
					<label>Choose a State:</label>
					<select class="target-group-state-select" id="target-group-state-select-state">
						<option>-- Select a State --</option>
						<option>AL</option>
						<option>VA</option>
					</select>
				</div>
				<div class="control-group" id="target-group-state-select-state-items" style="margin-left: 20px; display: none;">
					<div class="controls" style="margin-left: 0px;">
						<label class="radio">
							<input type="radio" name="target" id="target1" value="state">Executive Branch
						</label>
						<div class="control-group" style="margin-left: 20px; display: none;">
							<div class="controls" style="margin-left: 0px;">
								<label class="radio">
									<input type="radio" name="target" id="target1" value="state">Governor
								</label>
							</div>	
							<div class="controls" style="margin-left: 0px;">
								<label class="radio">
									<input type="radio" name="target" id="target1" value="state">Lt. Governor
								</label>
							</div>	
							<div class="controls" style="margin-left: 0px;">
								<label class="radio">
									<input type="radio" name="target" id="target1" value="state">Attorney General
								</label>
							</div>	
						</div>
					</div>	
					<div class="controls" style="margin-left: 0px;">
						<label class="radio">
							<input type="radio" name="target" id="target1" value="state">The entire State House
						</label>
					</div>
					<div class="controls" style="margin-left: 0px;">
						<label class="radio">
							<input type="radio" name="target" id="target1" value="state">The entire State Senate
						</label>
					</div>
					<div class="controls" style="margin-left: 0px;">
						<label class="radio">
							<input type="radio" name="target" class="target-group-other" id="target-group-state-other" value="state">A Specific Legislator
						</label>
					</div>
					<div id="target-group-state-other-items" class="control-group" style="margin-left: 20px; display: none;">
						<div class="controls" style="margin-left: 0px;">
							<input type="text" placeholder="Name" />
						</div>
						<div class="controls" style="margin-left: 0px;">
							<input type="text" placeholder="Title" />
						</div>
						<div class="controls" style="margin-left: 0px;">
							<input type="text" placeholder="Email Address" />
						</div>
						<div class="controls" style="margin-left: 0px;">
							<input type="text" placeholder="Twitter Handle" />
						</div>

					</div>
				</div>
			</div>
			<label class="radio">
				<input type="radio" name="targetOption" class="target-group" id="target-group-other" value="other">Someone else
			</label>
			<div id="target-group-other-items" class="control-group" style="margin-left: 20px; display: none;">
				<div class="controls" style="margin-left: 0px;">
					<input type="text" placeholder="Name" />
				</div>
				<div class="controls" style="margin-left: 0px;">
					<input type="text" placeholder="Title" />
				</div>
				<div class="controls" style="margin-left: 0px;">
					<input type="text" placeholder="Email Address" />
				</div>
				<div class="controls" style="margin-left: 0px;">
					<input type="text" placeholder="Twitter Handle" />
				</div>

			</div>
		</div>
</script>
<script id="create-petition-template" type="text/x-handlebars-template">
<div id="start-petition-panel" style="border: solid 1px orange; position: absolute;left: 150%; width: 60%; z-index: 100; background:#fff; padding: 20px;">
	<%= form_tag("/api/petitions", :method => "post", :id => "create-petition-form") do %>
	<input type="hidden" id="target_id" name="target_id" />
	<fieldset>
		<legend>Who is the target of your petition?</legend>
		{{> selectTarget}}
</fieldset>
<fieldset>
	<legend>What do you want them to do?</legend>

	<div class="control-group">
		<div class="controls" style="margin-left: 0px;">
			<input id="title" name="title" type="text" placeholder="Type your demand here" style="width: 98%">
			<span class="help-block">Example: Stop the drone assassinations of American citizens.</span>
		</div>
	</div>
</fieldset>
<fieldset>
	<legend>Petition Text</legend>

	<div class="control-group">
		<div class="controls" style="margin-left: 0px;">
			<textarea id="summary" name="summary" rows="6" style="width: 98%"></textarea>
		</div>
	</div>
</fieldset>
<button id="create-petition" class="btn btn-large btn-block btn-primary" type="submit">Create Petition</button>
<% end %>
</div>
</script>
<script id="launch-petition-template" type="text/x-handlebars-template">
<div id="launch-petition-panel" style="border: solid 1px orange; position: absolute;left: 150%; width: 60%; z-index: 100; background:#fff; padding: 20px;">
	<%= image_tag "default_petition.png" %>
	<div class="pull-right">
		<a href="#">Edit</a>
	</div>
	<h2>{{target.first_name  target.last_name}}: {{title}}</h2>
	<div class="control-group">
		<div class="controls" style="margin-left: 0px;">
			<textarea id="summary-edit" rows="4" style="width: 98%">{{summary}}</textarea>
		</div>
		<div class="pull-right">
			<a href="#">Edit</a>
		</div>
	</div>
	<form class="form-horizontal" style="position: relative;">
		<fieldset>
			<legend>How many signatures do you need?</legend>
			
			<div class="control-group">
				<div id="target-count-wrapper" class="clearfix">
					<div class="progress">
						<div class="bar" style="width: 1%;"></div>
					</div>
					<div class="pull-left">
						Signers: 0
					</div>
					<div class="pull-right">
						Goal: {{target_count}}
					</div>
				</div>
			</div>
			<div class="pull-right">
				<a href="#">Edit</a>
			</div>
		</fieldset>
		<fieldset>
			<legend>Leave a brief comment about why you're signing this petition</legend>
			
			<div class="control-group">
				<div class="controls" style="margin-left: 0px;">
					<textarea rows="6" style="width: 98%" placeholder="I just told @{{target.twitter_handle}}: {{title}}"></textarea>
				</div>
			</div>
		</fieldset>
		<button id="launch-petition" class="btn btn-large btn-block btn-primary" type="button">Launch Petition</button>
	</form>
</div>
</script>
<script id="share-petition-template"  type="text/x-handlebars-template">
<div id="share-petition-panel" style="border: solid 1px orange; position: absolute;left: 150%; width: 60%; z-index: 100; background:#fff; padding: 20px;">
	<h2>{{target.last_name}}: {{title}}</h2>
	<p class="lead">{{summary}}
		</p>
			<form class="form-horizontal" style="position: relative;">
				<fieldset>
					<legend>Share with Your Network</legend>
					<div class="control-group">
						<div class="controls" style="margin-left: 0px;">
							<textarea rows="3" style="width: 98%">I just told @{{target.twitter_handle}}: {{summary}}</textarea>
						</div>
					</div>

				</fieldset>

				<button id="share-petition" class="btn btn-large btn-block btn-primary" type="button">Share Petition</button>
			</form>
		</div>
</script>
<!-- end create petition templates -->
<!-- start create phone campaign templates -->
<script id="create-phone-campaign-template"  type="text/x-handlebars-template">
<div id="start-phone-campaign-panel" style="border: solid 1px orange; position: absolute;left: 150%; width: 60%; z-index: 100; background:#fff; padding: 20px;">
	<%= form_tag("/api/phonecampaigns", :method => "post", :id => "create-phone-campaign-form") do %>
	<input type="hidden" id="target_id" name="target_id" />
	<fieldset>
		<legend>Who is the target of your phone campaign?</legend>
		{{> selectTarget}}
</fieldset>
<fieldset>
	<legend>What do you want them to do?</legend>

	<div class="control-group">
		<div class="controls" style="margin-left: 0px;">
			<input id="title" name="title" type="text" placeholder="Type your demand here" style="width: 98%">
			<span class="help-block">Example: Stop the drone assassinations of American citizens.</span>
		</div>
	</div>
</fieldset>
<fieldset>
	<legend>What should people say when they call?</legend>

	<div class="control-group">
		<div class="controls" style="margin-left: 0px;">
			<textarea id="summary" name="summary" rows="6" style="width: 98%"></textarea>
		</div>
	</div>
</fieldset>
<button id="create-phone-campaign" class="btn btn-large btn-block btn-primary" type="submit">Create Phone Campaign</button>
<% end %>
</div>
</script>
<script id="launch-phone-campaign-template" type="text/x-handlebars-template">
<div id="launch-phone-campaign-panel" style="border: solid 1px orange; position: absolute;left: 150%; width: 60%; z-index: 100; background:#fff; padding: 20px;">
	<%= image_tag "default_petition.png" %>
	<div class="pull-right">
		<a href="#">Edit</a>
	</div>
	<h2>{{target.first_name  target.last_name}}: {{title}}</h2>
	<div class="control-group">
		<div class="controls" style="margin-left: 0px;">
			<textarea id="summary-edit" rows="4" style="width: 98%">{{summary}}</textarea>
		</div>
		<div class="pull-right">
			<a href="#">Edit</a>
		</div>
	</div>
	<form class="form-horizontal" style="position: relative;">
		<fieldset>
			<legend>How many calls do you need?</legend>
			
			<div class="control-group">
				<div id="target-count-wrapper" class="clearfix">
					<div class="progress">
						<div class="bar" style="width: 1%;"></div>
					</div>
					<div class="pull-left">
						Signers: 0
					</div>
					<div class="pull-right">
						Goal: {{target_count}}
					</div>
				</div>
			</div>
			<div class="pull-right">
				<a href="#">Edit</a>
			</div>
		</fieldset>
		<h4>{{target.title}} {{target.last_name}}: {{target.phone}}</h4>
		<button id="launch-phone-campaign" class="btn btn-large btn-block btn-primary" type="button">Launch Phone Campaign</button>
	</form>
</div>
</script>
<script id="share-phone-campaign-template"  type="text/x-handlebars-template">
<div id="share-phone-campaign-panel" style="border: solid 1px orange; position: absolute;left: 150%; width: 60%; z-index: 100; background:#fff; padding: 20px;">
	<h2>{{target.last_name}}: {{title}}</h2>
	<p class="lead">{{summary}}
		</p>
			<form class="form-horizontal" style="position: relative;">
				<fieldset>
					<legend>Share with Your Network</legend>
					<div class="control-group">
						<div class="controls" style="margin-left: 0px;">
							<textarea rows="3" style="width: 98%">I just told @{{target.twitter_handle}}: {{summary}}</textarea>
						</div>
					</div>

				</fieldset>

				<button id="share-phone-campaign" class="btn btn-large btn-block btn-primary" type="button">Share Phone Campaign</button>
			</form>
		</div>
</script>
<!-- end create phone campaign templates -->
<!-- start create poll templates -->
<script id="create-poll-template"  type="text/x-handlebars-template">
<div id="start-poll-panel" style="border: solid 1px orange; position: absolute;left: 150%; width: 60%; z-index: 100; background:#fff; padding: 20px;">
	<%= form_tag("/api/polls", :method => "post", :id => "create-poll-form") do %>
	<input type="hidden" id="target_id" name="target_id" />
<fieldset>
	<legend>Gauge Public Opinion</legend>

	<div class="control-group">
		<div class="controls" style="margin-left: 0px;">
			<input id="question" name="title" type="text" placeholder="Type your multiple choice question here" style="width: 98%">
		</div>
	</div>
</fieldset>
<fieldset>
	<legend>Choice 1</legend>

	<div class="control-group">
		<div class="controls" style="margin-left: 0px;">
			<input id="choice1" name="title" type="text" placeholder="Type the first choice here" style="width: 98%">
		</div>
	</div>
</fieldset>
<fieldset>
	<legend>Choice 2</legend>

	<div class="control-group">
		<div class="controls" style="margin-left: 0px;">
			<input id="choice2" name="title" type="text" placeholder="Type your second choice here" style="width: 98%">
		</div>
	</div>
</fieldset>
<button id="create-poll" class="btn btn-large btn-block btn-primary" type="submit">Create Poll</button>
<% end %>
</div>
</script>

<script id="launch-poll-template" type="text/x-handlebars-template">
<div id="launch-poll-panel" style="border: solid 1px orange; position: absolute;left: 150%; width: 60%; z-index: 100; background:#fff; padding: 20px;">
	<%= image_tag "default_petition.png" %>
	<div class="pull-right">
		<a href="#">Edit</a>
	</div>
	<h2>{{question}}</h2>
    <div class="pull-right">
			<a href="#">Edit</a>
	</div>
	<ul class="unstyled">
		{{#each choices}}
		<li>
			<div class="well">
				<input type="radio" name="choice" />{{choice}}
			</div>
			<div class="pull-right">
				<a href="#">Edit</a>
			</div>
		</li>
		{{/each}}
	</ul>

	<form class="form-horizontal" style="position: relative;">
		<button id="launch-poll" class="btn btn-large btn-block btn-primary" type="button">Launch Poll</button>
	</form>
</div>
</script>
<script id="share-poll-template"  type="text/x-handlebars-template">
<div id="share-poll-panel" style="border: solid 1px orange; position: absolute;left: 150%; width: 60%; z-index: 100; background:#fff; padding: 20px;">
	<h2>{{question}}</h2>
	<p class="lead">Answers</p>
			<form class="form-horizontal" style="position: relative;">
				<fieldset>
					<legend>Share with Your Network</legend>
					<div class="control-group">
						<div class="controls" style="margin-left: 0px;">
							<textarea rows="3" style="width: 98%">I just told @{{target.twitter_handle}}: {{summary}}</textarea>
						</div>
					</div>

				</fieldset>

				<button id="share-poll" class="btn btn-large btn-block btn-primary" type="button">Share Poll</button>
			</form>
		</div>
</script>
<!-- end create poll templates -->
<div class="hero-wrapper">
	<div class="container">
		<div class="hero-unit">
			<h2>Snap In Speak Out</h2>
			<p class="lead">
				We're building a new kind of online activism platform, designed exclusively for the grassroots. The best part? You can use our free tools anywhere - but you can't get them anywhere else!
			</p>
			<p id="action-buttons" class="cta-actions">
				<a id="start-petition" class="btn btn-primary btn-large">Start a Petition</a>&nbsp;
				<a id="start-event" class="btn btn-primary btn-large">Start an Event</a>&nbsp;
				<a id="start-phone-campaign" class="btn btn-primary btn-large">Start a Phone Campaign</a>&nbsp;
				<a id="start-poll" class="btn btn-primary btn-large">Start a Poll</a>&nbsp;
				<a id="start-bundle" class="btn btn-primary btn-large">Start a Bundle</a>&nbsp;
			</p>
		</div>
		<!--/.hero-unit -->
		<div class="hero-media">
			<%= image_tag "mac.png" %>
		</div>
		<!--/.hero-media -->
	</div>
	<!--/.container -->
</div>
<!--/.hero-wrapper -->
<div class="container">
	<div class="row features">
		<div class="headline headline-simple span12">
			<h3>Explore Our Top Features</h3>
		</div>
		<!--/.headline -->
		<div class="span3">
			<div class="icon">
				<i class="icon-bell-alt"></i>
			</div>
			<h2>Simple & Clean</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus.
			</p>
		</div>
		<!--/.span3 -->
		<div class="span3">
			<div class="icon">
				<i class="icon-tablet"></i>
			</div>
			<h2>Responsive</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus.
			</p>
		</div>
		<!--/.span3 -->
		<div class="span3">
			<div class="icon">
				<i class="icon-beaker"></i>
			</div>
			<h2>A/B Tested</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus.
			</p>
		</div>
		<!--/.span3 -->
		<div class="span3">
			<div class="icon">
				<i class="icon-trophy"></i>
			</div>
			<h2>High Conversion rate</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus.
			</p>
		</div>
		<!--/.span3 -->
	</div>
	<!-- /.features -->
	<div class="row clients">
		<div class="headline headline-simple span12">
			<h3>Our Happy Clients</h3>
		</div>
		<!--/.headline -->
		<div class="span2">
			<%= image_tag "clients/01.png" %>
		</div>
		<!-- /.span2 -->
		<div class="span2">
			<%= image_tag "clients/02.png" %>
		</div>
		<!-- /.span2 -->
		<div class="span2">
			<%= image_tag "clients/03.png" %>
		</div>
		<!-- /.span2 -->
		<div class="span2">
			<%= image_tag "clients/04.png" %>
		</div>
		<!-- /.span2 -->
		<div class="span2">
			<%= image_tag "clients/05.png" %>
		</div>
		<!-- /.span2 -->
		<div class="span2">
			<%= image_tag "clients/06.png" %>
		</div>
		<!-- /.span2 -->
	</div>
	<!-- /.clients -->
	<div class="testimonials">
		<div class="container">
			<div class="flexslider">
				<ul class="slides">
					<li>
						<blockquote>
							<p>
								"Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim"
							</p>
							<small>Jon Doe</small>
						</blockquote>
					</li>
					<li>
						<blockquote>
							<p>
								"Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim"
							</p>
							<small>Jon Doe</small>
						</blockquote>
					</li>
					<li>
						<blockquote>
							<p>
								"Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim"
							</p>
							<small>Jon Doe</small>
						</blockquote>
					</li>
					<li>
						<blockquote>
							<p>
								"Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim"
							</p>
							<small>Jon Doe</small>
						</blockquote>
					</li>
				</ul>
				<!--/.slides -->
			</div>
			<!--/.flexslider -->
		</div>
		<!--/.container -->
	</div>
	<!-- /.testimonials -->
	<div class="row call-to-action">
		<div class="span9">
			<h4>Landing Page to Show The Power of Your Web App</h4>
			<p>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.
			</p>
		</div>
		<!--/.span9 -->
		<div class="span3">
			<a class="btn btn-success btn-large btn-block">Sign up for Free</a>
		</div>
		<!--/.span3 -->
	</div>
	<!-- /.call-to-action -->
</div>
<!-- /container -->
<div id="push">
</div>
<!--/#wrap -->

