%div{"ng-view"=> ""}

= angular_templates '/campaigns/partials'
= angular_templates '/client_views'
= angular_templates '/client_views/layout1'
= angular_templates '/client_views/layout1/templates'
= angular_templates '/client_views/layout2'
= angular_templates 'clients/partials'

%div{"loading-screen" => "loading.show_spinner"}
