
<div class="container">
  <input type="hidden" id="phonecampaign_id" value="<%= @phonecampaign.id %>" />
  <%= image_tag "default_petition.png" %>
  <h1>President Obama:</h1>
  <h2><%= @phonecampaign.title %></h2>
  <p class="well"><%= @phonecampaign.summary %></p>
  <div class="bar">
  </div>
  <div id="target-count-wrapper" class="clearfix">
    <div class="progress">
     <div class="bar" style="width: <%= (@phonecampaign.call_results_count*100)/@phonecampaign.target_count %>%;"></div>
   </div>
   <div class="pull-left">
    Callers: <%=  @phonecampaign.call_results_count %>
  </div>
  <div class="pull-right">
    Goal: <%= @phonecampaign.target_count %>
  </div>
</div>
<div id="call-result-container">
  <div id="call-phone-campaign">
    <textarea id="comment" rows="6" name="comments" style="width: 98%" placeholder="Tell people about the result of your call..."></textarea>
    <button id="log-call-facebook-button" class="btn btn-primary btn-block btn-large" href="<%= user_omniauth_authorize_path(:facebook) %>">Log Call with Facebook</button>
    <button id="log-call-user-name-button" class="btn btn-primary btn-block btn-large">Log Call with UserName/Password</button>
    
  </div>
</div>
<div id="log-call-deliver" style="display:none;">
  <div class="body">
    <div class="container">
      <p>Thanks for Calling!</p>
      <p>Now let other know that you called the target, publicly on social media so your targt can't hide!
      </div>
      <textarea id="share-comment" rows="3" name="share-comment" style="width:98%">4 demand @BarackObama: Stop the Drone Assassinations of American Citizens.  Join us: bit.ly/12345 #tlot
      </textarea>
      <button id="deliver-call-result" class="btn btn-primary btn-block btn-large" href="<%= user_omniauth_authorize_path(:twitter) %>">Deliver Call Result
      </button>
    </div>
  </div>
  <div id="log-call-thanks" style="display:none;">
    <h4 class="text-center">Great!</h4>
    <p class="text-center">Here is some more action we want you to take</p>
  </div>

</div>

