!!!
%html{"xmlns:ng" => "http://angularjs.org", 'ng-app' => 'petition', "ng-controller" => "PetitionController"}
  %head
    %title
      = @petition.headline_primary
    %meta{"name" => "description", "content" => strip_tags(@petition.summary)}
    %meta{"property" => "og:title", "content" => strip_tags(@petition.headline_primary)}
    %meta{"property" => "og:type", "content" => "cause"}
    %meta{"property" => "og:url", "content" => @petition.short_url}
    %meta{"property" => "og:image", "content" => @petition.petition_image("square")}
    %meta{"property" => "og:site_name", "content" => "www.snaptivist.com"}
    %meta{"property" => "og:locale", "content" => "en_US"}

    = render partial: 'layouts/actions_head'
    = render partial: 'layouts/petitions_stylesheets'
    %link{"ng-repeat"=>"stylesheet in stylesheets()", "ng-href"=>"{{stylesheet.href}}", "type"=>"text/css", "rel"=>"stylesheet"}


    = render partial: 'layouts/actions_footer'
    %script

      petition =
      != @petition ? @petition.to_api.to_json : nil

      signature =
      != @signature ? @signature.to_api.to_json : false

      _test_env =
      != (Rails.env == 'production' ? nil : 'testing' ).to_json
      
    = javascript_include_tag 'petitions.js'
    = content_for :head

  %body{'ng-cloak' => ""}
    %span{:style => "position:relative"}
      #fb-root
    - if flash[:notice]
      #notice.notice-box
        = flash[:notice]
    %container.angular-frame
      = yield
    %footer
      = render partial: 'partials/google_analytics_init'
