!!!
%html{"xmlns:ng" => "http://angularjs.org"}
  %head
    %title
      = @petition.target_headline_text || @petition.target.first_name + " " + @petition.target.last_name + ": " + @petition.title
    %meta{"name" => "description", "content" => @petition.summary}
    %meta{"property" => "og:title", "content" => "Tell " + @petition.target.first_name + " " + @petition.target.last_name + ": " + @petition.title }
    %meta{"property" => "og:type", "content" => "cause"}
    %meta{"property" => "og:url", "content" => @petition.short_url}
    %meta{"property" => "og:image", "content" => @petition.header_image("full_size")}
    %meta{"property" => "og:site_name", "content" => "www.snaptivist.com"}
    %meta{"property" => "og:locale", "content" => "en_US"}

    = render partial: 'layouts/actions_head'
    = render partial: 'layouts/petitions_stylesheets'

    = render partial: 'layouts/actions_footer'
    %script

      petition =
      != @petition ? @petition.to_api.to_json : nil

      signature =
      != @signature ? @signature.to_api.to_json : false

      _test_env =
      != (Rails.env == 'production' ? nil : 'testing' ).to_json
      
    = javascript_include_tag 'petitions.js'

  %body#ng-app{'ng-app' => 'petition', 'ng-cloak' => ""}
    %span{:style => "position:relative"}
      #fb-root
    - if flash[:notice]
      #notice.notice-box
        = flash[:notice]
    %container.angular-frame
      = yield
    %footer
      = render partial: 'partials/google_analytics_init'
