!!!
%html{"xmlns:ng" => "http://angularjs.org"}
  %head
    %title
      = "Tell " + @phonecampaign.target.first_name + " " + @phonecampaign.target.last_name + ": " + @phonecampaign.title
    %meta{"name" => "description", "content" => @phonecampaign.summary}
    = render partial: 'layouts/actions_head'
    = render partial: 'layouts/petitions_stylesheets'

    = render partial: 'layouts/actions_footer'
    %script

      phonecampaign =
      != @phonecampaign ? @phonecampaign.to_api.to_json : nil

      _test_env =
      != (Rails.env == 'production' ? nil : 'testing' ).to_json
      
    = javascript_include_tag 'phonecampaigns.js'

  %body#ng-app{'ng-app' => 'phonecampaign'}
    %span{:style => "position:relative"}
      #fb-root
    - if flash[:notice]
      #notice.notice-box
        = flash[:notice]
    %container.angular-frame
      = yield
    %footer
      = render partial: 'partials/google_analytics_init'